*.a
*.pyc
CMakeFiles
CMakeCache.txt
cmake_install.cmake
lasp/*.cpp
Makefile
build
*.html
__pycache__
cython_debug
lasp/config.pxi
lasp/wrappers.c
lasp/resources_rc.py
*.so
test/test_bf
test/test_fft
test/test_math
test/test_workers
doc
LASP.egg-info
lasp_octave_fir.*
lasp/ui_*
resources_rc.py
lasp/device/lasp_daqdevice.c
